{% comment %}
   {% render 'add-on-d9'
       ad-title: block.settings.heading-add
      %}

 {% endcomment %}
 
 {% assign metafield = product.metafields.custom.add_on_products.value %}
 {% if metafield %}
<style>
.main-adon-45-d9{
  width: 100%;
}
.row-adon-45-d9{
  display: flex;
  flex-direction: column;
}
.col-adon-45-d9{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  border: 0.63px solid rgba(87, 87, 87, 0.4);
  padding: 16px;
}
.col-adon-45-d9:first-child{
  border-radius: 5px 5px 0 0;
}
.col-adon-45-d9:last-child{
  border-radius: 0px 0px 5px 5px;
}
.content-col-45{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.img-col-45 {
  aspect-ratio: 80 / 104;
  width: 80px;
  overflow: hidden;
}
.img-col-45 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 80 / 104;
}
.content-col-45 h4{
  font-family: Futura LT Paneuropean;
  font-size: 12px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: left;
  color: #000000;
}
.content-col-45 span{
  font-family: Futura LT Paneuropean;
  font-size: 12px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: left;
  color: rgba(98, 97, 97, 0.7);
}
.content-col-45 button{
  padding: 8px 0px !important;
  width: 79px !important;
  border-radius: 0px !important;
  background: rgba(254, 249, 232, 1);
  font-family: Futura LT Paneuropean;
  font-size: 12px;
  font-weight: 700;
  line-height: 20.4px;
  text-align: center;
  color: #000000 !important;
}
.inner-adon-45-d9 h3{
  font-family: Futura LT Paneuropean;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.41px;
  text-align: left;
  color: #000000;
  margin-bottom: 16px;
}
</style>
<div class="main-adon-45-d9">
  <div class="inner-adon-45-d9">
    <h3>{{ ad-title }}</h3>
    <div class="row-adon-45-d9">
     
      
        {% for product in metafield %}
          {% assign product = all_products[handle] %}
          
          {% if product %}
            <div class="col-adon-45-d9">
              <div class="mini-col-adon-45-d9 img-col-45">
                {% if product.featured_image %}
                  <img src="{{ product.featured_image | image_url: width: 500 }}" alt="{{ product.title }}">
                {% endif %}
              </div>
              <div class="mini-col-adon-45-d9 content-col-45">
                <div class="title-price-d9">
                  <h4>{{ product.title }}</h4>
                  <span>{{ product.price | money }}</span>
                </div>
                <div class="atc-btn-45-d9">
              {%- comment -%}
----------------------------------------------------------------------------------------------------------------------
BUY BUTTONS
----------------------------------------------------------------------------------------------------------------------

This component is used to show the buy buttons

********************************************
Supported variables
********************************************

* product: the product from which to show the buttons
* show_payment_button: if we show or not the dynamic checkout button
* show_gift_card_recipient: for gift card products, an optional message/email to be sent to the recipient
* button_size: the size of the button (default to xl if none is passed)
* atc_button_background: the background of the ATC button
* atc_button_text_color: the text color of the ATC button
* payment_button_background: the custom dynamic checkout button background
* payment_button_text_color: the custom dynamic checkout button text color
* form_id: if specified, define the form ID linked to this input
{%- endcomment -%}

{%- assign variant_picker_block = section.blocks | where: 'type', 'variant_picker' | first -%}

{%- form 'product', product, is: 'product-form', id: form_id -%}
  <input type="hidden" {% if variant_picker_block != blank %}disabled{% endif %} name="id" value="{{ product.selected_or_first_available_variant.id }}">

  {%- assign button_disabled = false -%}
  {%- assign button_size = button_size | default: 'xl' -%}

  {%- if product.selected_or_first_available_variant.available -%}
    {%- if product.template_suffix contains 'pre-order' -%}
      {%- capture button_content -%}{{ 'product.general.pre_order_button' | t }}{%- endcapture -%}
    {%- else -%}
      {%- capture button_content -%}+ Add{%- endcapture -%}
    {%- endif -%}
  {%- else -%}
    {%- capture button_content -%}{{ 'product.general.sold_out_button' | t }}{%- endcapture -%}
    {%- assign button_disabled = true -%}
  {%- endif -%}

  <div class="v-stack gap-4">
    {%- if product.gift_card? and show_gift_card_recipient -%}
      <gift-card-recipient class="gift-card-recipient v-stack gap-3">
        {%- assign checkbox_label = 'gift_card.recipient.checkbox' | t -%}
        {%- render 'checkbox', label: checkbox_label, name: 'properties[__shopify_send_gift_card_to_recipient]' -%}

        <div class="gift-card-recipient__fields js:hidden">
          <div class="fieldset">
            {%- liquid
              assign recipient_email_label = 'gift_card.recipient.email_label' | t
              render 'input', type: 'email', label: recipient_email_label, name: 'properties[Recipient email]', value: form.email, required: true

              assign recipient_name_label = 'gift_card.recipient.name_label' | t
              render 'input', label: recipient_name_label, name: 'properties[Recipient name]', value: form.name

              assign message_label = 'gift_card.recipient.message_label' | t
              render 'input', label: message_label, name: 'properties[Recipient message]', value: form.message, multiline: 3, maxlength: 200, show_max_characters_count: true
            -%}
          </div>
        </div>
      </gift-card-recipient>
    {%- endif -%}

    <buy-buttons class="buy-buttons {% if show_payment_button %}buy-buttons--multiple{% endif %}" template="{{ product.template_suffix | escape }}" form="{{ form_id }}">
      {%- render 'button', content: button_content, type: 'submit', size: button_size, disabled: button_disabled, secondary: show_payment_button, subdued: button_disabled, background: atc_button_background, text_color: atc_button_text_color -%}

      {%- if show_payment_button -%}
        {{- form | payment_button -}}

        <style>
          #shopify-section-{{ section.id }} .shopify-payment-button {
          {%- unless product.selected_or_first_available_variant.available -%}
            display: none;
          {%- endunless -%}

          {%- if payment_button_background != blank and payment_button_background != 'rgba(0,0,0,0)' -%}
            --button-background: {{ payment_button_background.rgb }};
          {%- endif -%}

          {%- if payment_button_text_color != blank and payment_button_text_color != 'rgba(0,0,0,0)' -%}
            --button-text-color: {{ payment_button_text_color.rgb }};
          {%- endif -%}
          }
        </style>
      {%- endif -%}
    </buy-buttons>
  </div>
{%- endform -%}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      
    </div>
  </div>
</div>
{% endif %}

