<div
  class="ss-timer-div-counter">
  <div id="ss-countdown">
    <ul
      class="ss-timer-ul"
      ss-date-time="{{ timer-date | default: '12/28/2024' }} {{ timer-time | default: '21:24:59' }}"
    >
      <li><span id="ss-days"></span>Days</li>
      <span class="time-colon">:</span>
      <li><span id="ss-hours"></span>Hrs</li>
      <span class="time-colon">:</span>
      <li><span id="ss-minutes"></span>Mins</li>
      <span class="time-colon">:</span>
      <li><span id="ss-seconds"></span>Secs</li>
    </ul>
    <div class="ss-sale-live"><p>{{ after_counter_txt | default: 'Sale is live' }}</p><a href="{{ button_url }}">{{ button_label | default: '<strong>Shop Now</strong>' }}</a></div>
  </div>
</div>
