  <label>
    {% if label != blank %}<span class="ss-input-label">{{ label }}</span>{% endif %}
{% unless type == 'textarea' %}
  <input
    type="{{ type }}"
    name="{{ name }}"
    value="{{ value }}"
    placeholder="{{ place_holder }}"
    {% if required %}
      required
    {% endif %}
    {% if readonly %}
      readonly
    {% endif %}
    {% if disabled %}
      disabled
    {% endif %}
    class="ss-input ss-{{ type }}"
    aria-label="{{ aria_label | default: label }}"
  >
{% else %}
  <textarea
    name="{{ name }}"
    placeholder="{{ place_holder }}"
    {% if required %}
      required
    {% endif %}
    {% if readonly %}
      readonly
    {% endif %}
    {% if disabled %}
      disabled
    {% endif %}
    class="ss-input ss-textatria"
    aria-label="{{ aria_label | default: label }}"
  ></textarea>
{% endunless %}
</label>