<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
   h1, h2 {
    font-size: 17px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 15px;
    }
    h5 {
        font-size: 15px;
        font-weight: 600;
    }
    h6, p {
        font-size: 14px;
    }
    h1, h2, h3, h4, h5, h6{
        color: #000;
    }
    p{
        color: #111;
    }
    .cart-drawer-d5{
        position: relative;
        width: 100%;
        overflow-x: hidden;
    }
    .cd-inner-d5{
        width: 90%;
        max-width: 450px;
        background: #fff;
        box-shadow: 0 0 1px 2px #000;
        position: fixed;
        height: 100vh;
        top: 0;
        right: -500px;
        z-index: 999999;
        opacity: 0;
        visibility: hidden;
        transition: all .4s cubic-bezier(0.23, 1, 0.320, 1);
    }
    .cd-overlay-d5{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.4);
        z-index: 999998;
        display: none;
    }
    .cd-drawer__open .cd-overlay-d5{
        display: block !important;
    }
    .cd-drawer__open .cd-inner-d5{
        opacity: 1;
        visibility: visible;
        right: 0;
    }
    .cd-header-d5{
        width: 100%;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #00000065;
    }
    .cd-close-d5{
        width: 22px;
        height: 22px;
        cursor: pointer;
    }
    .cd-item-d5{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .cd-item-img-d5{
        width: 100%;
        max-width: 150px;
        aspect-ratio: var(--aspect-ratio);
    }
    .cd-item-img-d5 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #eee;
    }
    .cd-content-d5{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        overflow-y: auto;
        height: 100%;
    } 
    .cd-otpions-d5{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .cd-title-price-d5 h4{
        font-size: 16px;
    }
    .cd-quantity-d5{
        width: 105px;
        height: 30px;
        display: flex;
        border: 1px solid #000000;
    }
    .cd-qty-input-d5:focus-visible{
        border: none;
    }
    .cd-qty-input-d5{
        width: 45px;
        text-align: center;
        border: none;
        border-right: 1px solid #000000;
        border-left: 1px solid #000000;
        border-radius: 0;
        pointer-events: none;
    }
    .cd-qty-btn-d5{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;
    }
</style>

<div class="cart-drawer-d5 cd-drawer__open">
    <div class="cd-overlay-d5"></div>
    <div class="cd-inner-d5">
        <div class="cd-header-d5">
            <div class="cd-heading-d5">
                <p>Your Cart <span class="cd-count-d5">{{ cart.item_count }}</span></p>
            </div>
            <div class="cd-close-d5">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
                <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
                </path></svg>
            </div>
        </div>
        <div class="cd-content-d5">
            {% for item in cart.items %}
                <div class="cd-item-d5" data-variant-id="{{ item.variant.id }}" data-line-item-key="{{ item.key }}">
                    <div class="cd-item-img-d5" style="--aspect-ratio: {{ item.image.aspect_ratio }}">
                        <img src="{{ item.image |  image_url: width: 400 }}" width="150" height="{{ item.image.height }}" alt="{{ item.title }}" loading="lazy">
                    </div>
                    <div class="cd-item-info-d5">
                        <div class="cd-title-price-d5">
                            <h4>{{ item.product.title }}</h4>
                            <p><span class="cd-regular-price">{{ item.original_price | money }}</span>
                            <span class="cd-compare-price">{{ item.product.final_price | money }}</span>
                            </p>
                        </div>
                         {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                        <div class="cd-item-variants-d5">
                            {% if item.product.has_only_default_variant == false %}
                                {% for option in item.options_with_values %}
                                    <div class="cd-otpions-d5">
                                    <h5>{{ option.name }}:</h5>
                                    <p>{{ option.value }}</p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                         {% endif %}
                        <div class="cd-quantity-d5">
                            <div class="cd-qty-btn-d5 cd-minus-d5">-</div>
                            <input type="text" value="{{ item.quantity }}" data-max="{%if item.variant.inventory_quantity %}{{ item.variant.inventory_quantity }}{% else %}999{% endif %}" readonly class="cd-qty-input-d5">
                            <div class="cd-qty-btn-d5 cd-plus-d5">+</div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="cd-footer-d5"></div>
    </div>
</div>


  
<script>
(function () {
 async function changeQty(line, qty) {
  try {
    await fetch('/cart/update.js', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ updates: { [line]: qty } })
    });
  } catch (err) {
    console.error(err);
  } finally {
    await rerenderCart();
  }
}
 
async function rerenderCart() {
  const response = await fetch('/?section_id=d5-cart-drawer');
  const data = await response.text();
  const newDrawer = data.querySelector('.cd-inner-d5');
  const cartInner = document.querySelector('.cd-inner-d5');
  if (cartInner) {
    cartInner.innerHTML = newDrawer.innerHTML;
  }
}


  const products = document.querySelectorAll('.cd-item-d5');
  products.forEach(product => {
    const qtyBtns = product.querySelectorAll('.cd-qty-btn-d5');
    const qtyInput = product.querySelector('.cd-qty-input-d5');
    const max = +qtyInput.dataset.max;
    const line = product.getAttribute('data-line-item-key');

    qtyBtns.forEach(btn => {
      btn.addEventListener('click', () => {
        let val = +qtyInput.value;
        if (btn.classList.contains('cd-plus-d5') && val < max) val++;
        if (btn.classList.contains('cd-minus-d5')) val--;
        qtyInput.value = val;
        changeQty(line, val);
      });
    });
  });
})();
</script> 

{% schema %}
{
    "name": "D5 Cart Drawer",
    "settings": [
        
        ],
    "presets": [
        {
            "name": "D5 Cart Drawer"
        }
    ]
}
{% endschema %}