    {%  assign collection  = section.settings.collection %}
        <div class="main-fd-67-d5">
            <div class="inner-fd-67-d5">
                <div class="row-fd-67-d5">
                    {% for item in collection.products %}
                    <div class="card-fd-67-d5">
                    <div class="card-image-fd-d5">
                        <img class="card-main-image-d5" src="{{ item.featured_image |  image_url: width: "500px" }}" width="auto" height="auto" alt="{{ item.title }}">
                        <img class="card-second-image-d5" src="{{ item.image[1] |  image_url: width: "500px" }}" width="auto" height="auto" alt="{{ item.title }}">
                    </div>
                    <div class="card-content-fd-d5">
                        <p class="title-fd-d5">{{ item.title }}</p>
                        <p class="price-fd-d5">
                            <span class="sale-price-d5">{{ item.price |  money }}</span>
                            {% if item.compare_at_price != blank %}
                            <span class="compare-price-d5">{{ item.compare_at_price |  money }}</span>
                            {% endif %}
                        </p>
                    </div>
                    </div>
                {% endfor %}
                </div>
             </div>            
        </div>






{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
        ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}