
<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    #shopify-section-{{ section.id }} {
        --dot-color-d9: {{ section.settings.dot-color }};
        --dot-border-d9: {{ section.settings.dot-color-b }};
        --dot-active-d9: {{ section.settings.a-dot-color }};
        --product-card-bg-d9: {{ section.settings.pd-bg }};
        --button-bg-d9: {{ section.settings.btn-bg }};
        --button-color-d9: {{ section.settings.btn-clr }};
        --button-color-hover-d9: {{ section.settings.btn-clr-h }};
        --button-color-background-hover-d9: {{ section.settings.btn-bg-h }};
        --button-font-d9: {{ section.settings.button-s }}px;
        --vertical-margin-d9: {{ section.settings.vertical-margin }}px;
        --section-height-d9: {{ section.settings.height-sect }}px;
        --text-color-one-d9: {{ section.settings.txt1-color }};
        --text-color-two-d9: {{ section.settings.txt2-color }};
        --title-font-d9: {{ section.settings.title-s }}px;
        --price-font-d9: {{ section.settings.price-s }}px;
    }
    .main-hp-40-d9{
        width: 100%;
        height: var(--section-height-d9);
        background-position: center;
        background-repeat: no-repeat !important;
        {% if section.settings.bg-img != blank %}
        background: url({{ section.settings.bg-img |  image_url: width: 1920 }});
        {% else %}
        background: {{ section.settings.bg-color }};
        {% endif %}
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        background-size: cover;
        margin: var(--vertical-margin-d9) auto;
    }
    .main-hp-40-d9:after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.3;
    }
    .dots-hp-40-d9{
        display: flex;
        gap: 30px;
    }
    .dot-item-hp-d9{
        width: 50px;
        height: 50px;
        padding: 6px;
        border-radius: 50%;
        background: var(--dot-border-d9);
        box-shadow: 0 5px 15px #0009;
        animation: updownMove 2s ease-in-out infinite;
        position: absolute;
        z-index: 2;
        cursor: pointer;
    }
    @keyframes updownMove{
        50%{
            box-shadow: 0 25px 15px #0003;
    transform: translatey(-10px)
        }
        100%{
            box-shadow: 0 5px 15px #0009;
    transform: translatey(0);
        }
    }
    .dot-item-hp-d9.dot-active .inner-dot-d9, .dot-item-hp-d9:hover .inner-dot-d9{
        background: var(--dot-active-d9);
    }
    .inner-dot-d9{
        width: 100%;
        height: 100%;
        display: block !important;
        background: var(--dot-color-d9);
        border-radius: 50%;
    }
    .product-card-hp-40-d9{
        max-width: 25%;
        width: 25%;
        background: var(--product-card-bg-d9);
        position: absolute;
        top: 20px;
        padding: 20px;
        transition: all .5s;
        opacity: 0;
        z-index: 3;
    }
    .img-featured-product-d9{
        width: 100%;
        aspect-ratio: 12/12;
        overflow: hidden;
        max-width: 100%;
    }
    .product-card-hp-40-d9:nth-child(even){
        left: -100%;
    }
    .product-card-hp-40-d9:nth-child(odd){
        right: -100%;
    }
    .product-card-hp-40-d9:nth-child(even).active-p-card{
        left: 20px;
        opacity: 1;
    }
    .product-card-hp-40-d9:nth-child(odd).active-p-card{
        right: 20px;
        opacity: 1;
    }
    .product-card-inner-d9 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
    }
    .product-card-hp-40-d9.active{
        display: block;
    }
    .product-card-inner-d9{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 10px;
    }
    .dis-price-40-d9{
        text-decoration: line-through;
    }
    .product-card-btn-d9 a{
        display: block;
        width: 100%;
        background: var(--button-bg-d9);
        text-decoration: none;
        color: var(--button-color-d9);
        border-radius: 5px;
        border: 1px solid transparent;
        text-align: center;
        padding: 9px 12px;
        font-size: var(--button-font-d9);
        transition: all .3s;
    }
    .product-card-btn-d9 a:hover{
        background: var(--button-color-background-hover-d9);
        color: var(--button-color-hover-d9);
        border:1px solid var(--button-bg-d9);
    }
</style>

    <div class="main-hp-40-d9">
        <div class="overlay-hp-40-d9"></div>
        <div class="inner-hp-40-d9">
            <div class="row-hp-40-d9">
                <div class="dots-hp-40-d9">
                    {% for block in section.blocks %}
                    <dot-item class="dot-item-hp-d9" style="top: {{ block.settings.top-dot }}%;left: {{ block.settings.left-dot }}%;">
                        <div class="inner-dot-d9"></div>
                    </dot-item>
                    {% endfor %}
                </div>
                {%  for block in section.blocks  %} 
                {% assign product = block.settings.product %}
               
                <div class="product-card-hp-40-d9">
                    <div class="product-card-inner-d9">
                        <div class="img-featured-product-d9">
                            <img src="{{ product.featured_image |  image_url: width:1440  }}">
                        </div>
                        <div class="product-card-content-d9">
                            <h4> {{- product.title |  escape -}} </h4>
                        </div>
                        <div class="product-price-40-d9">
                            <span class="real-price-40-d9"> {{- product.price |  money -}} </span>
                            <span class="dis-price-40-d9"> {{- product.compare_at_price | money -}} </span>
                        </div>
                        <div class="product-card-btn-d9">
                            <a href="{{ product.url }}">Shop Now</a>
                        </div>
                    </div>
                </div>
             
            {% endfor %}
            </div>
        </div>
    </div>
    

<script>
    document.addEventListener("DOMContentLoaded", function () {
    const dots = document.querySelectorAll(".dot-item-hp-d9");
    const productCards = document.querySelectorAll(".product-card-hp-40-d9");

    function removeActiveClasses() {
        dots.forEach(dot => dot.classList.remove("dot-active"));
        productCards.forEach(card => card.classList.remove("active-p-card"));
    }

    dots.forEach((dot, index) => {
        dot.addEventListener("click", function () {
            const isActive = dot.classList.contains("dot-active");
            removeActiveClasses();
            if (!isActive) {
                dot.classList.add("dot-active");
                productCards[index].classList.add("active-p-card");
            }
        });
    });

    productCards.forEach((card, index) => {
        card.addEventListener("click", function () {
            const isActive = card.classList.contains("active-p-card");
            if (!isActive) {
                productCards.forEach(card => card.classList.remove("active-p-card"));
                dots.forEach(dot => dot.classList.remove("dot-active"));
                card.classList.add("active");
                dots[index].classList.add("dot-active");
            }
        });
    });
});

</script>



{% schema %}
{
    "name": "Hotspot Products",
    "settings": [
        {
            "type": "image_picker",
            "id": "bg-img",
            "label": "Background Image"
        },


        {
            "type": "header",
            "content": "Desktop Configurations"
        },
        {
            "type": "range",
            "id": "vertical-margin",
            "label": "Top bottom space",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 100
        },
        {
            "type": "range",
            "id": "height-sect",
            "label": "Section-height",
            "min": 300,
            "max": 1500,
            "step": 50,
            "unit": "px",
            "default": 700
        },
        {
            "type": "range",
            "id": "button-s",
            "label": "Button font",
            "min": 8,
            "max": 40,
            "step": 1,
            "unit": "px",
            "default": 20
        },
        {
            "type": "range",
            "id": "title-s",
            "label": "Title font",
            "min": 8,
            "max": 40,
            "step": 1,
            "unit": "px",
            "default": 20
        },
        {
            "type": "range",
            "id": "price-s",
            "label": "Price font",
            "min": 8,
            "max": 40,
            "step": 1,
            "unit": "px",
            "default": 20
        },
        {
            "type": "header",
            "content": "Colors"
        },
        {
            "type": "color_background",
            "id": "bg-color",
            "label": "Background Color",
            "default": "#ae7e7e"
        },
        {
            "type": "color",
            "id": "dot-color",
            "label": "Dot Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "dot-color-b",
            "label": "Dot border color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "a-dot-color",
            "label": "Active and hover dot color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "pd-bg",
            "label": "PRoduct card background color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "btn-bg",
            "label": "Button background color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "btn-bg-h",
            "label": "Button hover color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "btn-clr",
            "label": "Button text color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "btn-clr-h",
            "label": "Button text color on hover",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "txt1-color",
            "label": "Text 1 Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "txt2-color",
            "label": "Text 2 Color",
            "default": "#fff"
        }
        ],
        "blocks": [
            {
                "type": "product-dot",
                "name": "Product Dot",
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product"
                    },
                    {
                        "type": "range",
                        "id": "left-dot",
                        "min": 0,
                        "max": 100,
                        "default": 33,
                        "label": "Dot Position from Left",
                        "step": 1,
                        "unit": "%"
                    },
                    {
                        "type": "range",
                        "id": "top-dot",
                        "min": 0,
                        "max": 100,
                        "default": 33,
                        "label": "Dot Position from Top",
                        "step": 1,
                        "unit": "%"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Hotspot Products"
            }
        ]
}
{% endschema %}