
<style data-shopify="">@font-face {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.c8300d95fd4ce72542a6efba9c682da40d144fba.woff2?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=1081bc13bac779d73b77022741d8b8608aa5451af6a05907fc023625940c00f1") format("woff2"),
       url("//section.store/cdn/fonts/josefin_sans/josefinsans_n4.ed7230a86e75b34b997bd12a5e1b87fcaf7104d8.woff?h1=c2VjdGlvbi5zdG9yZQ&h2=c2VjdGlvbi1zdG9yZS1hcHAuYWNjb3VudC5teXNob3BpZnkuY29t&hmac=3f19a3e11bab2423756ce410220df09957f15affd53a78fa0ec435e5660aa636") format("woff");
}
  
  .section-{{ section.id }} {
    border-top: solid #000000 0px;
    border-bottom: solid #000000 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .faq-nav-{{ section.id }} {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .faq-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    color: #6c584c;
    line-height: 120%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: 20px 16px;
    border-radius: 100px;
    background-color: #f2f0ed;
    border: 0px solid #000000;
    transition: all 0.25s ease 0s;
    position: relative;
    font-weight: 700;
    z-index: 2;
  }

  .faq-button-{{ section.id }}:hover {
    background-color: #6c584c;
    border: 0px solid #000000;
    color: #f2f0ed;
    transition: all 0.25s ease 0s;
  }

  .faq-body-{{ section.id }} {
    margin-top: 24px;
    padding: 32px 32px;
    border-radius: 20px;
    background-color: #f2f0ed;
    border: 0px solid #6c584c;
  }

  .faq-heading-{{ section.id }} {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
    font-size: 20px;
    color: #6c584c;
    line-height: 130%;
    text-transform: unset;
    font-weight: 700;
  }

  .faq-block-{{ section.id }}:not(:first-child) .faq-heading-{{ section.id }} {
    margin-top: 32px;
  }

  .faq-item-{{ section.id }} {
    position: relative;
    margin-top: 12px;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 9px;
  }

  .faq-toggle-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 12px;
  }

  .faq-arrow-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 28px;
    height: 28px;
    transition: all 0.3s ease 0s;
    transform: rotate(var(--rotate));
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
  }

  .faq-toggle-{{ section.id }}:hover .faq-arrow-{{ section.id }} {
    background-color: #6c584c;
    transition: all 0.3s ease 0s;
  }

  .faq-arrow-{{ section.id }} svg {
    width: 11px;
    height: 11px;
  }

  .faq-arrow-{{ section.id }} svg path {
    fill: #6c584c;
    transition: all 0.3s ease 0s;
  }

  .faq-toggle-{{ section.id }}:hover .faq-arrow-{{ section.id }} svg path {
    fill: #ffffff;
    transition: all 0.3s ease 0s;
  }

  .faq-question-{{ section.id }} {
    margin: 0px;
    font-size: 14px;
    color: #6c584c;
    line-height: 130%;
    text-transform: unset;
    font-weight: 700;
  }

  .faq-answer-{{ section.id }} {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
  }

  .faq-answer-{{ section.id }} * {
    margin: 0px;
    font-size: 12px;
    color: #6c584c;
    line-height: 170%;
    text-transform: unset;
  }

  .faq-answer-{{ section.id }} p {
    min-height: 10px;
  }

  .faq-answer-{{ section.id }} p:not(:first-child ) {
    margin-top: 10px;
  } 

  .faq-height-cal-{{ section.id }} {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;
  }

  .faq-height-cal-{{ section.id }} * {
    margin: 0px;
    font-size: 12px;
    color: #6c584c;
    line-height: 170%;
    text-transform: unset;
  }

  .faq-height-cal-{{ section.id }} p {
    min-height: 10px;
  }

  .faq-height-cal-{{ section.id }} p:not(:first-child ) {
    margin-top: 10px;
  } 

  @media(min-width: 768px) {
    .faq-nav-{{ section.id }} {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: 36px;
      padding-bottom: 36px;
      padding-left: 5rem;
      padding-right: 5rem;
    }

    .faq-nav-{{ section.id }} {
      grid-template-columns: repeat(5, 1fr);
      gap: 12px;
    }

    .faq-button-{{ section.id }} {
      padding: 20px 16px;
      font-size: 16px;
    }

    .faq-body-{{ section.id }} {
      margin-top: 36px;
      padding: 64px 64px;
    }
    
    .faq-heading-{{ section.id }} {
      margin-bottom: 28px;
      text-align: left;
      font-size: 36px;
    }

    .faq-block-{{ section.id }}:not(:first-child) .faq-heading-{{ section.id }} {
      margin-top: 64px;
    }

    .faq-item-{{ section.id }} {
      margin-top: 12px;
      padding-bottom: 12px;
    }

    .faq-question-{{ section.id }} {
      font-size: 18px;
    }

    .faq-answer-{{ section.id }} * {
      font-size: 16px;
    }

    .faq-arrow-{{ section.id }} {
      flex: 0 0 28px;
      height: 28px;
    }
  
    .faq-arrow-{{ section.id }} svg {
      width: 11px;
      height: 11px;
    }

    .faq-height-cal-{{ section.id }} * {
      font-size: 16px;
    }
  }</style>
  <style>
    .section-{{ section.id }}-settings {
      max-width: 150rem;
    }
  </style>

<div class="section-{{ section.id }} faq-{{ section.id }}" style="background-color:#ffffff; background-image: ;">
    <div class="section-{{ section.id }}-settings">
      <div class="faq-nav-{{ section.id }}">
        
            <a href="#category_MWGYL9" class="faq-button-{{ section.id }}">PRODUCTS</a>
      </div>

      <div class="faq-body-{{ section.id }}">
        <div class="faq-block-{{ section.id }}" id="category_MWGYL9">
              <div class="faq-heading-{{ section.id }}">PRODUCTS</div>
                <div class="faq-item-{{ section.id }}">
                <div class="faq-toggle-{{ section.id }}">
                  <p class="faq-question-{{ section.id }}">Lorem ipsum dolor sit amet?</p>
                  <div class="faq-arrow-{{ section.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-{{ section.id }}" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Si habetis ulteriores quaestiones, quaeso, nostri auxilium clientibus contact.</p>
                  </div>
                <div class="faq-height-cal-{{ section.id }}">
                  <p>Consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Si habetis ulteriores quaestiones, quaeso, nostri auxilium clientibus contact.</p>
                </div>
              </div>
            <div class="faq-item-{{ section.id }}">
                <div class="faq-toggle-{{ section.id }}">
                  <p class="faq-question-{{ section.id }}">Lorem ipsum dolor sit amet?</p>
                  <div class="faq-arrow-{{ section.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-{{ section.id }}" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Si habetis ulteriores quaestiones, quaeso, nostri auxilium clientibus contact.</p>
                  </div>
                <div class="faq-height-cal-{{ section.id }}">
                  <p>Consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Si habetis ulteriores quaestiones, quaeso, nostri auxilium clientibus contact.</p>
                </div>
              </div>
        
              <div class="faq-item-{{ section.id }}">
                <div class="faq-toggle-{{ section.id }}">
                  <p class="faq-question-{{ section.id }}">Lorem ipsum dolor sit amet?</p>
                  <div class="faq-arrow-{{ section.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 143.000000 83.000000" preserveAspectRatio="xMidYMid meet">
                      <g transform="translate(0.000000,83.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                      <path d="M57 772 l-57 -57 360 -360 360 -360 357 357 358 358 -63 62 -62 63 -298 -298 -297 -297 -295 295 c-162 162 -297 295 -300 295 -3 0 -31 -26 -63 -58z"></path>
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="faq-answer-{{ section.id }}" style="display: none; height: 0px; padding-top: 0px; padding-bottom: 0px;">
                    <p>Consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Si habetis ulteriores quaestiones, quaeso, nostri auxilium clientibus contact.</p>
                  </div>
                <div class="faq-height-cal-{{ section.id }}">
                  <p>Consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Si habetis ulteriores quaestiones, quaeso, nostri auxilium clientibus contact.</p>
                </div>
              </div>
            </div>
    </div>
</div>

<script>
  function initFAQ8() {
    const smoothScrollLinks = document.querySelectorAll('.faq-button-{{ section.id }}');

    smoothScrollLinks.forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
  
        const targetId = this.getAttribute('href');
        const targetElement = document.querySelector(targetId);
        const offsetTop = targetElement.offsetTop;
  
        window.scrollTo({
          top: offsetTop,
          behavior: 'smooth'
        });
      });
    });
    
    const answerPaddingTop = 16;
    const answerPaddingBottom = 0;

    const faqs = document.querySelectorAll(
      '.faq-item-{{ section.id }}'
    );
    const buttons = document.querySelectorAll(
      '.faq-toggle-{{ section.id }}'
    );
    const answers = document.querySelectorAll(
      '.faq-answer-{{ section.id }}'
    );
    const answersHeightCalElements = document.querySelectorAll(
      '.faq-height-cal-{{ section.id }}'
    );
    const icons = document.querySelectorAll(
      '.faq-arrow-{{ section.id }}'
    );

    let activeIndex = -1;

    function openAnswer(index) {
      const height = answersHeightCalElements[index].offsetHeight;

      answers[index].style.display = 'block';
      setTimeout(() => {
        answers[index].style.paddingTop = `${answerPaddingTop}px`;
        answers[index].style.paddingBottom = `${answerPaddingBottom}px`;
        answers[index].style.height = `${height }px`;
        icons[index].style.setProperty('--rotate', '180deg');
      });
    }
    function closeAnswer(index) {
      answers[index].style.paddingTop = 0;
      answers[index].style.paddingBottom = 0;
      answers[index].style.height = 0;
      icons[index].style.setProperty('--rotate', '0deg');

      setTimeout(() => {
        answers[index].style.display = 'none';
      }, 300);
    }
    function toggleAnswer(index) {
      if (answers[index].style.display === 'none') {
        openAnswer(index);
        activeIndex = index;
      } else {
        closeAnswer(index);
        activeIndex = -1;
      }
    }
    function closeAllAnswerBut(index) {
      answers.forEach((answer, i) => {
        if (i !== index) {
          closeAnswer(i);
        }
      });
    }

    // When clicked, toggle the answer, animate the answer's height:
    buttons.forEach((button, index) => {
      button.addEventListener('click', () => {
        toggleAnswer(index);
        // closeAllAnswerBut(index);
      });
    });

    // When the window is resized, debounce the answer's height:
    let resizeTimer;
    window.addEventListener('resize', () => {
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(() => {
        if (activeIndex !== -1) {
          const height = answersHeightCalElements[activeIndex].offsetHeight;
          answers[activeIndex].style.height = `${height}px`;
        }
      }, 250);
    });
  }

  document.addEventListener('DOMContentLoaded', initFAQ8);
  
</script>



{% schema %}
  {
    "name": "Tab FAQs",
    "settings": [],
    "presets": [
      {
        "name": "Tab FAQs"
      }
    ]
  }
{% endschema %}